<!DOCTYPE html>
<html>
  <head>
    <title>FbcloneApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="wrapper">
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">fbClone</a>
        </div>
    <ul class="nav navbar-nav navbar-right">
    <% if logged_in? %>
      <li class="#"><%= link_to "マイページ", user_path(current_user.id) %></li>
      <li class="#"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
      <li><form class="navbar-form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="検索キーワードは？">
        </div>
        <button type="submit" class="btn btn-info">検索</button>
      </form></li>
    <% else %>
      <li class="#"><%= link_to "サインアップ", new_user_path %></li>
      <li class="#"><%= link_to "ログイン", new_session_path %></li>
    <% end %>
    </ul>
    </div>
    </nav>
  <div class="container">
    <div class="contents">
      <%= yield %>
    </div>
  </div>
  <footer>
    <br><br><p>© All rights reserved by Yuki.T</p><br><br>
  </footer>
  </div>
 </body>
</html>
